.messageDiv {
    border-style: solid;
    border-color: black;
}

.message {
    border-style: solid;
    border-color: blue;
}

.messageHidden {
    border-style: hidden;
}

.attachments {
    border-style: solid;
    border-color: green;
}

.attachment {
    border-bottom: solid gray;
}

.attachmentImage {
    width: 20%;
}